{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swapify</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <style>
        @font-face {
            font-family: 'Cute';
            src: url('{% static 'bootstrap/fonts/cute.ttf'%}'); /* 字体文件的相对或绝对路径 */
        }

        .text-center {
            margin-top: 40px;
            margin-bottom: 40px;
        }

    </style>
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-default" style="padding: 20px 30px;font-size: 18px">
    <div class="container-fluid">

        <!-- Navigation Header -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/user/list/">Swapify</a>
        </div>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/user/list/">用户列表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a> 当前用户:{{ info_dict.name }}</a>
                </li>
                <li>
                    <a href="/home/exit/">注 销</a>
                </li>
            </ul>
        </div>

    </div>
</nav>


<!-- Main Content -->
<div class="container">
    <div class="main-section">
        <table class="table">
            <tr>
                <th style="padding-left: 50px">id</th>
                <th style="padding-left: 120px">用户名</th>
                <th style="padding-left: 100px">操作</th>
            </tr>

            {% for user in all_user %}
                <tr>
                    <th style="padding-left: 50px">{{ user.id }}</th>
                    <th style="padding-left: 120px">{{ user.username }}</th>
                    <th style="padding-left: 100px">
                        <a class="btn btn-danger " href="/user/del/?id={{ user.id }}" role="button">删除</a>
                    </th>
                </tr>

            {% endfor %}

        </table>

    </div>
</div>


<!-- Footer -->
<div class="footer">
    <div class="container-fluid">
        <hr>
        <div class="text-center">
            <p><a href="/home/">© Swapify </a></p>
        </div>
    </div>
</div>

<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>